apiVersion: v1
kind: Service
metadata:
  name: ${project.artifactId}
spec:
  ports:
    - name: 8080-tcp
      protocol: TCP
      port: 8080
      targetPort: 8080
  selector:
    app: ${project.artifactId}
